{{- $buttons := .Site.Params.buttons }}
{{- $icons := .Site.Params.icons }}
{{- if .Params.cta }}
{{- range $key, $val := .Params.cta}}
<a class='btn btn-cta' href="{{ $val }}">
  <span class='opacity-[0.50] tracking-tighter block'>Available on</span>
  <i class="" aria-hidden="true"></i> {{title $key }}
</a>
{{- end }}
{{- end }}
<!--
Paperback: Amazon | Barnes & Noble | BAM | Indiebound
Ebook: Amazon | Apple Books | Barnes & Noble | BAM | Google Play | Kobo
Audiobook: Amazon | Apple Books | Barnes & Noble | BAM | Google Play | Kobo | Libro.fm | Audiobooks.com
-->