<aside class="max-w-lg mx-auto text-center p-2 print:hidden">
  <form action="https://world.hey.com/benwilson/subscribers" accept-charset="UTF-8" data-remote="true" method="post">
    <label for="subscriber_email_address" class="flush--top push_quarter--bottom">
      Subscribe to get future posts via email (or grab the <a class="text-primary-500 underline"
        href="https://world.hey.com/benwilson/feed.atom">RSS feed</a>)
    </label>
    <div class="flex justify-center py-2">
      <input type="email" name="subscriber[email_address]" id="subscriber_email_address" placeholder="Type your email…"
        required="" class="border w-72 rounded-l-xl border-grey-200 border-r-0">
      <button class="text-sm bg-grey-100 border-grey-200 border rounded-r-xl border-l-0 px-4">Subscribe</button>
    </div>
  </form>
</aside>