<div class="bg-stone-300/5">
  <div class="md:px-12 px-4 py-2 mx-auto flex items-center sm:flex-row flex-col justify-between">
    <div class='flex items-center sm:flex-row flex-col flex-1'>
      <a class="flex font-display font-medium items-center md:justify-start justify-center text-stone-500">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450.000000 450.000000"
          preserveAspectRatio="xMidYMid meet" class='fill-gray-300/50 h-6 w-6'>
          <text x="350" y="80" font-size="40">®</text>
          <g transform="translate(0.000000,450.000000) scale(0.100000,-0.100000)" stroke="none">
            <path
              d="M1990 4070 c-367 -78 -672 -314 -839 -648 -38 -76 -83 -211 -102 -307 -20 -99 -18 -380 3 -465 9 -36 15 -67 13 -69 -7 -6 -188 68 -250 103 l-60 34 2 58 c6 154 120 385 267 542 27 29 46 55 43 58 -9 10 -332 -123 -477 -197 -241 -122 -388 -237 -439 -342 -31 -64 -27 -169 9 -241 170 -337 1099 -650 2000 -673 836 -21 1798 237 2116 569 79 82 106 135 112 220 4 59 1 75 -22 122 -57 116 -216 237 -471 361 -158 77 -434 189 -442 181 -3 -3 16 -29 42 -58 126 -140 231 -357 268 -556 8 -42 -14 -65 -110 -111 -54 -27 -244 -101 -257 -101 -1 0 6 37 16 83 70 314 5 654 -177 928 -179 269 -469 459 -784 514 -118 21 -352 19 -461 -5z" />
            <path
              d="M1213 1722 c59 -66 114 -125 122 -132 8 -7 72 -21 142 -32 71 -11 134 -23 142 -27 26 -13 153 -228 246 -416 103 -207 187 -440 227 -627 l23 -108 48 0 47 0 0 368 0 369 -25 13 c-24 13 -65 83 -65 111 0 8 9 33 20 57 15 34 29 47 66 64 40 17 52 19 85 9 20 -6 51 -27 68 -46 26 -30 31 -44 31 -87 0 -45 -4 -54 -40 -90 l-40 -40 0 -364 0 -364 45 0 c41 0 45 3 51 28 94 411 230 738 434 1042 l57 85 122 19 c68 10 131 20 141 23 20 5 245 251 237 259 -3 3 -67 -8 -144 -25 -357 -77 -618 -105 -983 -106 -365 0 -604 24 -955 97 -82 17 -163 33 -180 36 -26 4 -19 -7 78 -116z" />
          </g>
        </svg>
        <span class="ml-3 text-xl">Merovex</span>
      </a>
      <div class="text-sm text-stone-500 sm:ml-6 my-1">© {{ now.Format "2006"}} Ben Wilson &middot; Rights Reserved
        <!-- <% if config.social&.twitter %>
          <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 hidden ml-1"
            target="_blank">@knyttneve</a>
          <% end %> -->
      </div>
    </div>

    <nav class="justify-end flex-1 flex space-x-3 text-stone-500">
      <span> Hello from Virginia </span>
      <span>&middot;</span>
      <a class="hover:underline" href="/tools/">Tools</a>
      <span>&middot;</span>
      <a class="hover:underline" href="/privacy/">Privacy</a>
      <span>&middot;</span>
      <a class="hover:underline" href="/permissions/">Terms of use</a>
    </nav>

    <!-- <% if config.social %>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-300">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-300">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a class="ml-3 text-gray-300">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-300">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
      <% end %> -->
  </div>
</div>
<script>
  var seconds = new Date(2028, 7, 23) - new Date()
  var weeks = Math.floor(seconds / 604800000)
  var days = Math.floor(seconds % 604800000 / 86400000);
  document.getElementById("wtr").innerHTML = Math.round(weeks) + "." + days
</script>