<footer class="grid grid-cols-2 gap-0 py-2 mt-16 md:grid-cols-5 print:hidden">
  <div class='px-8 text-center md:text-left'>
    <a class='px-0 site-link' href="/uses">Hello from {{.Site.Params.venue}}</a> &middot; v<span id='wtr'></span>
  </div>
  <div class='px-8 text-center '><a class='site-link' href="/tools/">Tools</a></div>
  <div class='px-8 text-center '><a class='site-link' href="/privacy/">Privacy</a></div>
  <div class='px-8 text-center '><a class='site-link' href="/permissions/">Terms of Use</a></div>
  <div class='px-8 text-center md:text-right'>&copy; {{ now.Format "2006"}} &middot; Ben Wilson</div>
</footer>
<script>
  var seconds = new Date(2028, 07, 23) - new Date()
  var weeks = Math.floor(seconds / 604800000)
  var days = Math.floor(seconds % 604800000 / 86400000);
  document.getElementById("wtr").innerHTML = Math.round(weeks) + "." + days
</script>