<footer id='site-footer'>
  <div class="container flex items-center max-w-6xl px-2 py-1 mx-auto">
    <div class="flex flex-wrap items-center w-full mx-auto">
      <div class="flex justify-center w-full md:w-1/2 md:justify-start">
        <span>Copyright {{ now.Format "2006"}}, Ben Wilson. All rights reserved. (<i id='wtr'></i>)</span>
      </div>
      <nav>
        <ul>
          <li><span class="text-base"> Hello from Virginia </span></li> &middot;
          <li><a class="hover:underline" href="/tools/">Tools</a></li> &middot;
          <li><a class="hover:underline" href="/privacy/">Privacy</a></li> &middot;
          <li><a class="hover:underline" href="/permissions/">Terms of use</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<script>
  var seconds = new Date(2028, 7, 23) - new Date()
  var weeks = Math.floor(seconds / 604800000)
  var days = Math.floor(seconds % 604800000 / 86400000);
  document.getElementById("wtr").innerHTML = Math.round(weeks) + "." + days
</script>