<nav id="nav-menu">
  <a href="/#featured">
    {{partial "svg/home.svg" "nav-icon" }} HOME
  </a>
  <a href="/books">
    {{partial "svg/book.svg" "nav-icon" }} Books
  </a>
  <a href="/about">
    {{partial "svg/info.svg" "nav-icon" }} About
  </a>
  <a rel="prefetch" href="/posts/">
    {{partial "svg/bell.svg" "nav-icon" }} Updates
  </a>
  <a rel="prefetch" href="/dashboard/">
    {{partial "svg/bell.svg" "nav-icon" }} Dashboard
  </a>
  <!-- <a rel="prefetch" href="/subscribe/" class="">
    Community
  </a> -->
</nav>