<nav id="xnav-menu" class="space-x-4 flex items-center justify-center">
  <div class="flex-1 text-right">
    <a href="/books">
      Books
      <i class="bi-book-half"></i>
    </a>
  </div>
  <div class="flex-1">{{ partial "author-image-round.html" . }}</div>
  <div class="flex-1">
    <a rel="prefetch" href="/posts/">
      <i class="bi-envelope-paper"></i> Updates
    </a>
  </div>
</nav>
<div
  class="border shadow max-w-lg bg-alert-200 text-alert-700 dark:bg-alert-700 dark:text-white w-1/4 text-center mx-auto rounded">
  <h2>Notice</h2>
  <p>In the process of transitioning website. Please visit again in a few hours?</p>
</div>