{{- $pag := $.Paginator }}
{{- if gt $pag.TotalPages 1 -}}
<nav class="grid gap-4 my-8 md:grid-cols-2 md:grid-flow-cols no-print" aria-label="Pagination">
  <div class="flex-1 text-center">
    {{ if $pag.HasPrev }}
    <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}" {{ end }} class="brand button" aria-label="Previous">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 h-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
      </svg> See newer posts
    </a>
    {{- end -}}
  </div>
  <div class='flex-1 text-center'>
    {{ if $pag.HasNext }}
    <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}" {{ end }} class="brand button" aria-label="Next">
      See earlier posts
      <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 h-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
      </svg>
    </a>
    {{- end }}
  </div>
</nav>
{{ end }}