{{- $pag := $.Paginator }}
{{- if gt $pag.TotalPages 1 -}}
<nav class="relative z-0 flex mx-auto my-8 font-sans no-print" aria-label="Pagination">
  <div class="flex-1 text-center">
    {{ if $pag.HasPrev }}
    <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}" {{ end }} class="brand button" aria-label="Previous">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        class="inline-block fill-current bi bi-chevron-double-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        <path fill-rule="evenodd"
          d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
      </svg> See newer posts
    </a>
    {{- end -}}
  </div>
  <div class='flex-1 text-center'>
    {{ if $pag.HasNext }}
    <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}" {{ end }} class="brand button" aria-label="Next">
      See earlier posts
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        class="inline-block fill-current bi bi-chevron-double-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
        <path fill-rule="evenodd"
          d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
      </svg>
    </a>
    {{- end }}
  </div>
</nav>
{{ end }}