{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 -}}
<ul class="flex my-8 pagination">
  {{ with $pag.First -}}
  <li class="px-3 py-1 border hover:bg-gray-200">
    <a href="{{ .URL }}" class="page-link" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
  </li>
  {{ end -}}
  <li class=" relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50{{ if not $pag.HasPrev }} disabled{{ end }}">
    <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}" {{ end }} class="page-link" aria-label="Previous"><span
        aria-hidden="true">&laquo;</span></a>
  </li>
  {{- $ellipsed := false -}}
  {{- $shouldEllipse := false -}}
  {{- range $pag.Pagers -}}
  {{- $right := sub .TotalPages .PageNumber -}}
  {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
  {{- $showNumber := or $showNumber (le .TotalPages 5) -}}{{/* Issue #7523 */}}
  {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber
  2))) -}}
  {{- if $showNumber -}}
  {{- $ellipsed = false -}}
  {{- $shouldEllipse = false -}}
  {{- else -}}
  {{- $shouldEllipse = not $ellipsed -}}
  {{- $ellipsed = true -}}
  {{- end -}}
  {{- if $showNumber }}
  <li class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50{{ if eq . $pag }} active bg-brand-400 {{ end }}">
    <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
  </li>
  {{- else if $shouldEllipse }}
  <li class="px-3 py-1 disabled">
    <span aria-hidden="true">&nbsp;&hellip;&nbsp;</span>
  </li>
  {{- end -}}
  {{- end }}
  <li class=" relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50{{ if not $pag.HasNext }} disabled{{ end }}">
    <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}" {{ end }} class="page-link" aria-label="Next"><span
        aria-hidden="true">&raquo;</span></a>
  </li>
  {{- with $pag.Last }}
  <li class="px-3 py-1 border hover:bg-gray-200">
    <a href="{{ .URL }}" class="page-link" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>
  </li>
  {{- end }}
</ul>
{{ end }}