{{ define "main" }}

<article class='single'>
  <header>
    {{ partial "author-image-round.html" . }}
    {{ partial "site/nav.html"}}
    {{ partial "related-posts.html" . }}
    <h1 itemprop="headline" class='md:text-6xl'>{{.Title}}</h1>
  </header>

  <div class="mb-12 prosaic-sans">
    {{ .Content }}
    <h2 class="h2">Appearances</h2>
    <ul>{{- range .Params.books }}
      <li><a href="/book/{{.url}}">{{.title}}</a>: {{.tagline}}</li>
      {{ end }}
    </ul>
  </div>

  <aside class="py-8 mx-auto text-center print:hidden">{{ partial "cta-links.html" . }}</aside>
  {{ partial "related-posts.html" . }}
  {{ partial "citation.html" . }}
  <aside class="mt-12 cta-callout print:hidden">
    {{ partial "widgets/subscribe.html" . }}
  </aside>
  {{ partial "site/logo-footer.html" . }}
</article>
{{ end }}