<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class=''>
  <form action="https://dausha.us2.list-manage.com/subscribe/post?u=958ff43d5b0de49bac9ad4e21&amp;id=72de3b22a5"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate " target="_blank"
    novalidate>
    <div id="mc_embed_signup_scroll" class="font-sans ">
      <h2 class="font-bold">Subscribe below to get future updates from Ben Wilson</h2>
      <div class="flex max-w-xs mx-auto mt-4">
        <div class="">
          <label class='hidden' for="mce-EMAIL">Email Address <span class="asterisk">*</span>
          </label>
          <input type="email" value="" name="EMAIL" class="w-full p-1 px-2 border rounded-l-lg required email"
            id="mce-EMAIL" placeholder="Type your email...">
        </div>
        <div class="text-left">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
            class="p-1 px-2 text-white border rounded-r-lg shadow cursor-pointer bg-brand-500 border-brand-500 button-md hover:shadow-sm">
        </div>
      </div>
      <div id="mergeRow-gdpr" class="hidden mergeRow gdpr-mergeRow content__gdprBlock">
        <div class="hidden content__gdpr">
          <label>Marketing Permissions</label>
          <p>Merovex Press will use the information you provide on this form to be in touch with you and to provide
            updates and marketing. Please let us know all the ways you would like to hear from us:</p>
          <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
            <label class="checkbox subfield" for="gdpr_2661"><input type="checkbox" checked=checked id="gdpr_2661"
                name="gdpr[2661]" value="Y" class="av-checkbox "><span>Email</span> </label><label
              class="checkbox subfield" for="gdpr_2665"><input type="checkbox" id="gdpr_2665" name="gdpr[2665]"
                value="Y" class="av-checkbox " checked=checked><span>Direct Mail</span> </label><label
              class="checkbox subfield" for="gdpr_2669"><input type="checkbox" id="gdpr_2669" name="gdpr[2669]"
                value="Y" class="av-checkbox "><span>Customized online
                advertising</span> </label>
          </fieldset>
          <p>You can change your mind at any time by clicking the unsubscribe link in the footer of any email you
            receive from us, or by contacting us at ben@merovex.com. We will treat your information with respect. For
            more information about our privacy practices please visit our website. By clicking below, you agree that we
            may process your information in accordance with these terms.</p>
        </div>
        <div class="hidden content__gdprLegal">
          <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your
            information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/"
              target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
        </div>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
          name="b_958ff43d5b0de49bac9ad4e21_72de3b22a5" tabindex="-1" value=""></div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->