{{ define "main" }}
<article class='single'>
  <header>
    {{ partial "author-image-round.html" "/series" }}
    {{ partial "site/nav.html"}}
    {{ partial "related-posts.html" . }}
    <h1 itemprop="headline" class='md:text-6xl'>{{.Title}}</h1>
  </header>

  {{ partial "book/header.html" .}}
  {{ partial "book/praises.html" . }}
  {{ partial "book/characters.html" . }}
  {{ partial "book/excerpt.html" . }}

  <aside class="py-8 mx-auto text-center print:hidden">{{ partial "cta-links.html" . }}</aside>
  {{ partial "related-posts.html" . }}
  {{ partial "citation.html" . }}
  <aside class="mt-12 cta-callout print:hidden">
    {{ partial "widgets/subscribe.html" . }}
  </aside>
  {{ partial "site/logo-footer.html" . }}
</article>
{{ end }}