{{ define "main" }}
<article class='max-w-4xl p-8 mx-auto mt-8 bg-white shadow-md md:mt-12 dark:bg-gray-700 rounded-xl'>
  <h1 class='mb-12 text-3xl md:text-6xl font-display'><a class='text-blue-500 hover:underline'
      href="{{.Permalink}}">{{.Title}}</a></h3>
    <div class='flex mb-12'>
      <div class="w-1/3">
        {{ partial "book-cover-image.html" . }}
      </div>
      <div class="w-2/3 px-2 md:px-4">
        <div class="mb-8 font-serif prose lg:prose-xl">{{.Summary}}</div>
        <div class="">{{ partial "cta-links.html" . }}</div>
      </div>
    </div>

    {{ if .Params.praise }}
    <section id='praise' class='hidden mx-auto font-serif prose md:prose-lg'>
      <h2 class='text-2xl md:text-4xl font-display'>What other readers have said</h2>
      {{ range .Params.praise }}
      <figure>
        <blockquote{{if .url}} cite="{{.url}}" {{end}}>
          <p>{{.text}}</p>
          </blockquote>
          {{if (.person)}}<figcaption>—{{.person}}{{if (.cite)}}, <cite>Brave New World</cite>{{end}}</figcaption>
          {{end}}
      </figure>
      {{ end }}
    </section>{{ end }}
    <section id='excerpt' class='mx-auto font-serif prose md:prose-lg'>
      <h2 class='text-2xl md:text-4xl font-display'>Selected Passage</h2>
      {{.Content}}
    </section>
    {{ partial "citation.html" . }}
</article>
{{ end }}