{{ define "xmain" }}
<div class="article">

</div>
{{ end }}
{{define "main" }}
<article class="single">
  <header>
    {{ partial "author-image-round.html" . }}
    {{ partial "site/nav.html"}}
    {{ partial "components/headline.html" . }}
  </header>
  <div class="mx-auto font-sans">
    <div class="cta-callout print:hidden">
      {{ partial "components/subscribe.html" . }}
    </div>
    {{ partial "site/pagination.html" . }}
    {{ range .Paginator.Pages }}
    {{ partial "components/post-card.html" . }}
    {{ end }}
    {{ partial "site/pagination.html" . }}
    {{ partial "site/logo-footer.html" . }}
  </div>
</article>
{{ end }}