{{define "main" }}
<div class="max-w-3xl px-4 mx-auto mt-8 lg:mt-12 ">
  <div class="mx-auto">
    <div class="cta-callout">
      {{ partial "widgets/subscribe.html" . }}
    </div>
    <aside class="p-8 my-12 card">
      <h3 class="h3">Series List</h3>
      <ul class="w-1/3 mx-auto">
        {{ range .Pages }}
        <li class='mt-4'>
          <strong>{{.Title}}</strong>
        </li>
        <ul class="pl-4 list-disc list-inside">
          {{- range .Pages.ByWeight }}
          <li><a href="#{{.Title| urlize }}" class='link'>{{.Title}}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </ul>
    </aside>

    {{ range .Pages }}
    <h2 class="mt-12 h1" id='{{ .Title | urlize }}'>{{.Title}} Series</h2>
    <div class="mb-24">
      {{- range .Pages.ByWeight }}
      {{ partial "widgets/book-card.html" (dict "book" . ) }}
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}