<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{ partial "site/head.html" . }}

<body>
  <header>
    {{ partial "site/nav.html"}}
    <h1 itemprop="headline" class='md:text-6xl'>{{.Title}}<span class='block mt-4'
        style="font-size: 50%">{{.Params.Subtitle}}</span></h1>
    {{- block "figure" .}}{{end}}
  </header>
  <main class="flex-1 w-screen min-h-screen mt-0 print:max-w-5xl">
    <div class='max-w-4xl py-12 mx-auto'>
      <div class="hidden">
        If you can read this, refresh the page to reload the CSS.
      </div>

      {{- block "main" . }}{{- end }}
      {{ partial "site/logo-footer.html" . }}
    </div>
  </main>
  <div class="hidden">
    <li>Section {{.Section}}</li>
    <li>Current Section {{.CurrentSection}}</li>
    <li>.Sections {{.Sections}}</li>
    <li>.IsSection {{.IsSection}}</li>
    <li>.IsNode {{.IsNode}}</li>
    <li>.Kind {{.Kind}}</li>
    <li>.Type {{.Type}}</li>
    <li>.Parent {{.Parent}}</li>
    <li>.FirstSection {{.FirstSection}}</li>
    {{ if .Parent }}
    <li>.Parent.Permalink {{.Parent.Permalink}}</li>
    {{ end }}
    <hr>
  </div>
  {{- partial "site/footer.html" . -}}
</body>

</html>