.prosaic { 
  @apply mx-auto prose md:prose-lg lg:prose-xl dark:prose-dark ;
}
.prosaic a { 
  @apply font-sans text-brand-dark dark:text-brand-light;
}
.prosaic p+p { 
  text-indent: 1.5em;
  @apply m-0
}
.prosaic table { 
  @apply rounded-lg;
}
.prosaic code { 
  @apply dark:text-brand-light text-brand font-code
}
.prosaic th { 
  @apply dark:text-shade-dark text-shade-light font-sans bg-brand dark:bg-brand-light p-2
}
.prosaic a:hover {
  @apply border-b-4 border-accent-dark
}
.prose-sans { 
  @apply font-sans prosaic;
}
.prose-serif { 
  @apply font-serif prosaic;
}
.prosaic h2 { 
  @apply font-serif;
}
.prosaic strong { 
  @apply font-sans dark:text-warning-light;
}
.prose table td, .prose table th { 
  @apply text-sm px-4
}
blockquote p {
  @apply mt-4
}
blockquote p+p {
  text-indent: 1em;
}
div .quote-mark {
  font-size: 10rem;
  right: 100%;
  @apply absolute top-0 leading-none text-opacity-40 text-brand font-display;
}