.starter {
  color: blue;
}
.test {
  border: 1px solid blue;
}

@font-face {
  font-family:"IMFellEnglish";
  src:url("../assets/fonts/IMFellEnglish-Regular.ttf");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"IMFellEnglish-Italic";
  src:url("../assets/fonts/IMFellEnglish-Italic.ttf");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"MerovexSans";
  src:url("../assets/fonts/SourceSansPro-Regular.ttf");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"MerovexSans-Italic";
  src:url("../assets/fonts/SourceSansPro-Italic.ttf");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"MerovexSans-Bold";
  src:url("../assets/fonts/SourceSansPro-Bold.ttf");
  font-weight:bold;
  font-style:normal;
}
@font-face {
  font-family:"MerovexSans-BoldItalic";
  src:url("../assets/fonts/SourceSansPro-BoldItalic.ttf");
  font-weight:bold;
  font-style:normal;
}
@font-face {
  font-family:"MerovexSerif";
  src:url("../assets/fonts/SourceSerifPro-Regular.ttf");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"MerovexSerif-Italic";
  src:url("../assets/fonts/SourceSerifPro-Italic.ttf");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"MerovexSerif-Bold";
  src:url("../assets/fonts/SourceSerifPro-Bold.ttf");
  font-weight:bold;
  font-style:normal;
}
@font-face {
  font-family:"MerovexSerif-BoldItalic";
  src:url("../assets/fonts/SourceSerifPro-BoldItalic.ttf");
  font-weight:bold;
  font-style:normal
}
a.tag + a.tag:before { 
    content: '\b7\a0'; /* \b7 is a middot, \a0 is a space */
}
body {
  background: url(/assets/images/backgrounds/beige-paper.png)
}
/* Color Theme Swatches in Hex */
.Steampunk-Complimentary-1-hex { color: #9E6915; }
.Steampunk-Complimentary-2-hex { color: #FFBE54; }
.Steampunk-Complimentary-3-hex { color: #EBA737; }
.Steampunk-Complimentary-4-hex { color: #05569E; }
.Steampunk-Complimentary-5-hex { color: #3695EB; }

/* Color Theme Swatches in RGBA */
.Steampunk-Complimentary-1-rgba { color: rgba(158, 105, 21, 1); }
.Steampunk-Complimentary-2-rgba { color: rgba(255, 190, 84, 1); }
.Steampunk-Complimentary-3-rgba { color: rgba(235, 167, 55, 1); }
.Steampunk-Complimentary-4-rgba { color: rgba(5, 86, 158, 1); }
.Steampunk-Complimentary-5-rgba { color: rgba(54, 149, 235, 1); }

/* Color Theme Swatches in HSLA */
.Steampunk-Complimentary-1-hsla { color: hsla(36, 76, 35, 1); }
.Steampunk-Complimentary-2-hsla { color: hsla(37, 100, 66, 1); }
.Steampunk-Complimentary-3-hsla { color: hsla(37, 81, 56, 1); }
.Steampunk-Complimentary-4-hsla { color: hsla(208, 93, 31, 1); }
.Steampunk-Complimentary-5-hsla { color: hsla(208, 81, 56, 1); }