#clock-gradient {
}

svg#clock {
  @apply w-full max-h-[90vh] h-auto;
}

.bgDot {
  stroke: none;
}

.clockCircle {
  fill: none;
  stroke: #2a2a2a;
}

.clockArc {
  fill: none;
  stroke: hsl(200, 60%, 60%);
}

.clockDot {
  fill: hsl(200, 80%, 85%);
}

.caption {
  fill: hsl(200, 60%, 95%);
}

.dayText {
  @apply text-3xl
}

.daysText, .weatherText {
  @apply text-xl;
}

.dateText, .tempText {
  @apply text-5xl;
}

.timeText {
  @apply text-8xl font-medium tracking-tighter;
}