{{ define "figure"}}
{{/* partial "posts/figure.html" . */}}
{{ end }}
{{ define "main" }}
<article class="max-w-prose px-4 mx-auto">
  {{ partial "components/headline.html" . }}
  <!-- {{- block "figure" .}}{{end}} -->
  <div class="mb-12 prose dark:prose-dark">
    {{ .Content }}
  </div>
</article>
{{ partial "components/pagebreak.html" . }}
{{ partial "components/biography.html"}}
{{ partial "components/subscribe.html" . }}

<!-- {{ partial "asides/social-sharing.html" . }} -->
<!-- {{ partial "related-posts.html" . }} -->
<!-- {{ partial "components/citation.html" . }} -->
</article>
{{ end }}