{{ define "figure"}}
{{/* partial "posts/figure.html" . */}}
{{ end }}
{{ define "main" }}
<h1 itemprop="headline" class='my-12 md:text-6xl'>{{.Title}}<span class='block mt-4'
    style="font-size: 50%">{{.Params.Subtitle}}</span></h1>
{{- block "figure" .}}{{end}}
<div class="mb-12 prosaic-serif">
  {{ .Content }}
</div>
{{partial "components/biography.html"}}
<div class="print:hidden">
  {{ partial "widgets/subscribe.html" . }}
</div>
<!-- {{ partial "asides/social-sharing.html" . }} -->
<!-- {{ partial "related-posts.html" . }} -->
<!-- {{ partial "citation.html" . }} -->
</article>
{{ end }}