{{ $klass := "mx-auto rounded shadow-lg" }}
{{- if .Resources.ByType "image" }}
{{- with .Resources.ByType "image" }}
{{- range . }}
{{- $resizedsm := .Resize "200x300" }}
{{- $resizedmd := .Resize "330x500" }}
{{- $resizedlg := .Resize "500x750" }}
{{- $resizedxl := .Resize "660x1000" }}
{{- $low := .Resize "80x q10 Smart Gaussian" }}
<picture>
<source media="(min-width: 1280px)" srcset="{{ $resizedlg.RelPermalink }} 1x,
      {{ $resizedxl.RelPermalink }} 2x,
      {{ $resizedxl.RelPermalink }} 3x">

<source media="(min-width: 1024px)" srcset="{{ $resizedlg.RelPermalink }} 1x,
      {{ $resizedxl.RelPermalink }} 2x,
      {{ $resizedxl.RelPermalink }} 3x">

<source media="(min-width: 768px)" srcset="{{ $resizedmd.RelPermalink }} 1x,
      {{ $resizedlg.RelPermalink }} 2x,
      {{ $resizedxl.RelPermalink }} 3x">

<!-- Support Mobile -->
<source media="(min-width: 640px)" srcset="{{ $resizedsm.RelPermalink }} 1x,
      {{ $resizedmd.RelPermalink }} 2x,
      {{ $resizedlg.RelPermalink }} 3x">
<img class="{{$klass}}" src='{{ $resizedmd.RelPermalink }}'>
{{- end }}
{{- end }}
{{else}}
<img class="{{$klass}}" src='https://via.placeholder.com/333x500?text=Book+Cover'>
{{- end }}
</picture>