<article class="w-full mt-8 shadow-xl lg:max-w-full lg:flex dark:text-white lg:mt-12">
  {{- if .book.Resources.Match "*cover*" }}
  {{- with .book.Resources.GetMatch "*cover*" }}
  {{- $resizedmd := .Resize "330x500" }}
  <div
    class="flex-none h-48 overflow-hidden text-center bg-cover border border-r-0 border-black rounded-t border-opacity-10 dark:border-white lg:h-auto lg:w-48 lg:rounded-t-none lg:rounded-l-xl"
    style="background-image: url('{{$resizedmd.RelPermalink}}')" title="River">
  </div>
  {{end}}
  {{else}}
  <img class="" src='https://via.placeholder.com/333x500?text=Book+Cover'>
  {{end}}
  <div
    class="flex flex-col justify-between p-4 leading-normal border-b border-l border-r rounded-b lg:border-l-0 lg:border-t lg:rounded-b-none lg:rounded-r-xl bordered-card">
    <div>
      <h3 class="text-3xl text-center font-display lg:text-4xl">
        <a href="{{- .book.Permalink -}}">{{- .book.Title -}}</a>
      </h3>
      <p class="w-full my-4 prosaic-serif">
        {{ .book.Summary | truncate 330 }}
      </p>
    </div>
    <div class="flex items-center justify-center">
      <a href="{{- .book.Permalink -}}" class="button blue">Read more</a>
      {{ partial "cta-links.html" .book }}
    </div>
  </div>
</article>