{{- $buttons := .Site.Params.buttons }}
{{- $icons := .Site.Params.icons }}
{{- if .Params.cta }}
{{- range $key, $val := .Params.cta}}
<a class='border-{{$key}} dark:border-{{$key}}-light dark:hover:text-shade-dark dark:text-{{$key}}-light dark:hover:bg-{{$key}}-light hover:bg-{{$key}} text-{{$key}} button'
  href="{{ $val }}">
  <i class="{{$icons.Get $key}}" aria-hidden="true"></i> {{title $key }}
</a>
{{- end }}
{{- end }}
<!--
Paperback: Amazon | Barnes & Noble | BAM | Indiebound
Ebook: Amazon | Apple Books | Barnes & Noble | BAM | Google Play | Kobo
Audiobook: Amazon | Apple Books | Barnes & Noble | BAM | Google Play | Kobo | Libro.fm | Audiobooks.com
-->