<div class="menu text-white">
  <a class='opacity-80 hover:opacity-100 block my-2 py-2 px-2 rounded hover:bg-blue-400 sm:inline lg:mr-3' href="/#featured" id='home-link'>
    <i class="fad fa-home"></i> Home
  </a>
  <a class='opacity-80 hover:opacity-100 block my-2 py-2 px-2 rounded hover:bg-blue-400 sm:inline lg:mr-3' href="/#books">
    <i class="fad fa-books"></i> Books
  </a>
  <a class='opacity-80 hover:opacity-100 block my-2 py-2 px-2 rounded hover:bg-blue-400 sm:inline lg:mr-3' href="/about">
    <i class="fad fa-id-card"></i>Bio
  </a>
  <a class='opacity-80 hover:opacity-100 block my-2 py-2 px-2 rounded hover:bg-blue-400 sm:inline lg:mr-3' rel="prefetch" href="/post/">
    <i class="fad fa-newspaper"></i> Blog
  </a>
  <a rel="prefetch" href="/subscribe/" class="bg-blue-500 hover:bg-blue-200 hover:text-black text-white font-bold my-2 py-2 px-4 rounded focus:outline-none focus:shadow-outline font-sans">
    <i class="fad fa-envelope"></i> Subscribe
  </a>
</div>