<article class="my-8">
  <h3 class='mb-3 text-2xl font-display md:text-3xl'><a class='text-blue-500 dark:text-blue-400 hover:underline'
      href="{{.Permalink }}">{{ .Title
      }}</a></h3>
  <p class='pb-1 italic text-gray-500 dark:text-gray-300'>Posted On {{ dateFormat "2 January 2006" .Date }}, {{ partial
    "read-time.html" .
    | singularize}} read</p>
  <div class="prose lg:prose-xl dark:prose-dark max-w-none">{{.Summary}}</div>
  <div class="pt-1 italic text-gray-500 dark:text-gray-300">
    {{- range .Params.tag }}
    # <a class='hover:underline' href="{{ " /tag/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{- end }}
  </div>

</article>