<article class='post-item mt-12 mx-auto max-w-xl'>
  <h2 class='text-3xl font-display'>
    <a href="{{- .Permalink -}}">{{- .Title -}}</a>
  </h2>
  <div class="metadata mt-4 mb-2">
    <span>
      <i class='fad fa-calendar-day'></i>
      {{ partial "dtg.html" . }}
    </span>
    <span>
      <i class='fad fa-popcorn'></i>
      {{ partial "read-time.html" . }}
    </span>
    <div class='tags'>
      
    </div>
  </div>
  <div class='prose md:prose-lg font-serif'>{{.Summary}}</div>
</article>