<div class='flex justify-between items-center'>
  {{ if .PrevInSection }}
  <div class="w-1/4">
    <a href="{{.PrevInSection.Permalink}}" class="">
      <span aria-hidden="true">&larr;</span>
      {{.PrevInSection.Title}}</a>
  </div>
  {{ else }}
  <div class="disabled">
    <a href="#" class="">
      <span aria-hidden="true">&larr;</span>
      </a>
  </div>
  {{ end }}
  {{ if .NextInSection }}
  <div class="text-right w-1/4">
    <a href="{{.NextInSection.Permalink}}" class="">{{.NextInSection.Title}}
      <span aria-hidden="true">&rarr;</span>
    </a>
  </div>
  {{ else }}
  <div class="text-right disabled">
  </div>
  {{ end }}
</div>