{{ $css := "px-2 py-1"}}
<div class='grid grid-cols-2 gap-4 my-8 grid-flow-cols'>
  {{- if .NextInSection }}
  <div class="{{$css}}">
    <a href="{{.NextInSection.Permalink}}" class="button hover:bg-blue-50 dark:hover:bg-blue-500">
      <span aria-hidden="true">&larr;</span>
      {{.NextInSection.Title}}</a>
  </div>
  {{- else }}
  <div class="disabled">
  </div>
  {{- end }}
  {{- if .PrevInSection }}
  <div class="{{$css}} text-right">
    <a href="{{.PrevInSection.Permalink}}" class="button hover:bg-blue-50 dark:hover:bg-blue-500">{{.PrevInSection.Title}}
      <span aria-hidden="true">&rarr;</span>
    </a>
  </div>
  {{- else }}
  <div class="text-right disabled">
  </div>
  {{ end }}
</div>