{{ $css := "px-2 py-1"}}
<div class='grid gap-4 my-8 md:grid-cols-2 md:grid-flow-cols print:hidden'>
  {{- if .NextInSection }}
  <div class="{{$css}}">
    <a href="{{.NextInSection.Permalink}}"
      class="inline-block w-full text-center md:text-left md:inline button hover:bg-brand-50 dark:hover:bg-brand-500">
      <span aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="inline bi bi-chevron-double-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          <path fill-rule="evenodd"
            d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
      </span>
      {{.NextInSection.Title}}</a>
  </div>
  {{- else }}
  <div class="disabled">
  </div>
  {{- end }}
  {{- if .PrevInSection }}
  <div class="{{$css}} text-right">
    <a href="{{.PrevInSection.Permalink}}"
      class="inline-block w-full text-center button md:text-right md:inline hover:bg-brand-50 dark:hover:bg-brand-500">{{.PrevInSection.Title}}
      <span aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="inline bi bi-chevron-double-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
          <path fill-rule="evenodd"
            d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>
    </a>
  </div>
  {{- else }}
  <div class="text-right disabled">
  </div>
  {{ end }}
</div>