{{- $img
:=resources.Get "images/sky-purple-blue-galaxy-atmosphere-astronomical-object-1614937-pxhere.com.webp" -}}
<section id="hero" class="z-0 mb-12" style="background: url({{$img.Permalink}}); background-size: cover;">
  <div class="flex bg-primary-800/[0.80]">
    <div class="flex flex-col items-center justify-center flex-1 my-8">
      <div class="flex items-center justify-center w-full lg:hidden">
        {{ partial "book/cover.html" . }}
      </div>
      <div class="flex flex-col items-center w-full max-w-lg mx-auto text-white p-4">
        <header style="text-shadow: 1px 1px 1px #000">
          <h1>{{.Title}}</h1>
        </header>
        <div class="flex-1" style="text-shadow: 1px 1px 1px #000">{{.Summary}}</div>
        <aside class="flex justify-center mt-8 item-center">
          {{- if .Params.price }}
          <span class="p-2 m-2 font-sans text-4xl font-bold text-red-400">{{.Params.price}}</span>
          {{- end }}
          <div class="">
            {{ partial "components/cta-links.html" . }}
          </div>
        </aside>
      </div>
    </div>
    <div class="min-h-[300px] flex-1 hidden lg:block" style="clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);">
      {{ partial "book/art.html" . }}
    </div>
  </div>
</section>
<p class="hidden">
  from
  <strong>
    <a href="https://pxhere.com/en/photo/1614937"> PxHere </a>
  </strong>
</p>