{{ $klass := "w-full shadow-lg" }}
<picture>
  {{- if .Resources.Match "*cover*" }}
  {{- with .Resources.GetMatch "*cover*" }}
  {{- $resizedsm := .Fill "200x150 Top" }}
  {{- $resizedmd := .Fill "330x250 Top" }}
  {{- $resizedlg := .Fill "500x375 Top" }}
  {{- $resizedxl := .Fill "660x500 Top" }}
  <source media="(min-width: 1280px)" srcset="{{ $resizedlg.RelPermalink }} 1x,
      {{ $resizedxl.RelPermalink }} 2x,
      {{ $resizedxl.RelPermalink }} 3x">
  <source media="(min-width: 1024px)" srcset="{{ $resizedlg.RelPermalink }} 1x,
      {{ $resizedxl.RelPermalink }} 2x,
      {{ $resizedxl.RelPermalink }} 3x">
  <source media="(min-width: 768px)" srcset="{{ $resizedmd.RelPermalink }} 1x,
      {{ $resizedlg.RelPermalink }} 2x,
      {{ $resizedxl.RelPermalink }} 3x">
  <!-- Support Mobile -->
  <source media="(min-width: 640px)" srcset="{{ $resizedsm.RelPermalink }} 1x,
      {{ $resizedmd.RelPermalink }} 2x,
      {{ $resizedlg.RelPermalink }} 3x">
  <img class="{{$klass}}" src='{{ $resizedmd.RelPermalink }}'>
  {{ end }}
  {{else}}
  <img class="{{$klass}}" src='https://via.placeholder.com/333x500?text=Book+Cover'>
  {{- end }}
</picture>