<div id="mlb2-4460713" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-4460713 subscribe">
  <div class="row-form">
    <form class="flex flex-col mt-4 ml-block-form sm:flex-row"
      action="https://app.mailerlite.com/webforms/submit/e0g5g7" data-code="e0g5g7" method="post" target="_blank">
      <label for="emailAddress" class="sr-only">Enter your email</label>
      <div class="w-full min-w-0 ml-field-group ml-field-email ml-validate-email ml-validate-required">
        <input type="email" id="emailAddress" name="fields[email]"
          class="w-full h-12 min-w-0 px-4 py-2 text-base leading-6 text-gray-900 placeholder-gray-400 bg-white bg-gray-600 border border-transparent rounded-sm appearance-none focus:outline-none focus:text-white focus:bg-gray-700 focus:border-blue-brand focus:placeholder-gray-400 transition-input"
          placeholder="Enter your email" aria-label="Enter your email" required="" aria-invalid="false">
      </div>
      <div class="mt-3 rounded-sm ml-form-embedSubmit sm:mt-0 sm:ml-3 sm:flex-shrink-0">
        <button type="submit"
          class="flex items-center justify-center w-full h-12 px-4 py-2 text-base leading-6 text-white border border-transparent rounded-sm primary bg-blue-brand hover:bg-blue-dark focus:outline-none transition-button">
          Stay up to date
        </button>
        <button
          class="flex items-center justify-center w-full h-12 px-4 py-2 text-base leading-6 text-white border border-transparent rounded-sm loading saving bg-blue-brand hover:bg-blue-dark focus:outline-none transition-button disabled:opacity-50"
          disabled="disabled" type="button" style="display: none;">Subscribing<span>.</span><span>.</span><span>.</span>
        </button>
      </div>
      <input class="hidden" type="hidden" name="ml-submit" value="1" aria-invalid="false">
    </form>
    <p class="mt-3 text-xs text-gray-500">
      For more details, review our
      <a href="/legal/privacy-policy" class="hover:text-white hover:underline transition-link">Privacy Policy</a>.
    </p>
  </div>
  <div class="mt-3 row-success" style="display:none;">
    <div class="p-3 bg-blue-200 rounded-sm text-black-100">
      Thank you! Look for a confirmation email shortly to complete your subscription.
    </div>
  </div>
  <script>
    function ml_webform_success_4460713() {
      var $ = ml_jQuery || jQuery;
      $('.row-success').show();
      $('.row-form').hide();
    }
  </script>
  <img src="https://track.mailerlite.com/webforms/o/4460713/e0g5g7?v03ee2804ef2f008535475a5d62f02f94" width="1"
    height="1" alt="" style="max-width: 1px; max-height: 1px; display: block;" border="0">
  <script src="https://static.mailerlite.com/js/w/webforms.min.js?v03ee2804ef2f008535475a5d62f02f94"
    type="text/javascript"></script>
</div>