{{ define "main" }}
{{ partial "components/headline.html" . }}

<div class="prosaic">
  {{.Content}}
</div>

{{ range .Pages.ByWeight }}
{{ if .IsSection}}
<section class="mb-20">
  <h2 class='h2' id='{{ .Title | urlize }}'>
    <a href="{{.Permalink}}">{{.Title}}</a>
  </h2>
  <div
    class="relative flex w-full overflow-x-auto shadow-inner gap-6 snap-x snap-mandatory p-14 bg-dove-gray-200 dark:bg-dove-gray-800">
    <div class="snap-center shrink-0">
      <div class="w-4 shrink-0 sm:w-48"></div>
    </div>
    {{ range .Pages.ByWeight }}
    <div class="snap-center shrink-0 first:pl-8 last:pr-8">
      <a href="{{ .Permalink }}" class="rounded">
        {{ partial "book/cover.html" . }}
        <h3 class="text-center">{{ .Title }}</h3>
      </a>
    </div>
    {{ end }}
    <div class="snap-center shrink-0">
      <div class="w-4 shrink-0 sm:w-48"></div>
    </div>
  </div>
</section>
{{- else}}
<!-- {{ partial "book/card.html" (dict "book" . ) }} -->
{{- end }}
{{- end }}
{{- end }}