{{ define "main" }}

{{ partial "book/hero.html" . }}

<!-- {{ partial "book/header.html" .}} -->
<!-- {{ partial "asides/social-sharing.html" . }} -->
<!-- {{ partial "book/testimonials.html" . }} -->
<!-- {{ partial "book/characters.html" . }} -->
<!-- {{ partial "book/excerpt.html" . }} -->
<!-- {{ partial "related-posts.html" . }} -->

{{ partial "components/pagebreak.html" . }}
{{ partial "components/biography.html" . }}
{{ partial "components/subscribe.html" . }}
{{ partial "components/citation.html" . }}

{{ end }}