{{ define "main" }}
{{- $img := resources.Get "images/sky-purple-blue-galaxy-atmosphere-astronomical-object-1614937-pxhere.com.webp" -}}
{{- $cover_img := resources.Get "images/sky-purple-blue-galaxy-atmosphere-astronomical-object-1614937-pxhere.com.webp"
-}}
<section id='hero' class='z-0 md:block text-white min-h-[300px]'
  style="background: url({{$img.Permalink}}); background-size: cover;">
  <div class='flex bg-primary-500/[0.50]'>
    <div class='flex-1 flex items-center justify-center my-8'>
      <div class='mx-8 lg:mx-auto lg:w-2/3 text-lg'>
        <div style='text-shadow: 1px 1px 1px #000'>
          <h1>{{.Title}}</h1>
        </div>
        <div class='flex-1' style='text-shadow: 1px 1px 1px #000'>
          {{.Summary}}
        </div>
        <aside class='flex item-center justify-left space-x-2 mt-8 print:hidden'>
          {{- if .Params.price }}
          <span class="p-2 m-2 font-sans text-4xl font-bold text-red-400">{{.Params.price}}</span>
          {{- end }}
          <div>{{ partial "cta-links.html" . }}</div>
        </aside>
      </div>
    </div>
    <div class='w-1/2 min-h-[300px]' style='clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);'>
      <picture>
        {{- if .Resources.Match "*-art*" }}
        {{- with .Resources.GetMatch "*-art*" }}
        {{- $resizedsm := .Resize "600x400 webp" }}
        {{- $resizedmd := .Resize "1000x660 webp" }}
        {{- $resizedlg := .Resize "150x1000 webp" }}
        {{- $resizedxl := .Resize "2000x1320 webp" }}
        <source media="(min-width: 1280px)" srcset="{{ $resizedlg.RelPermalink }} 1x,
                {{ $resizedxl.RelPermalink }} 2x,
                {{ $resizedxl.RelPermalink }} 3x">
        <source media="(min-width: 1024px)" srcset="{{ $resizedlg.RelPermalink }} 1x,
                {{ $resizedxl.RelPermalink }} 2x,
                {{ $resizedxl.RelPermalink }} 3x">
        <source media="(min-width: 768px)" srcset="{{ $resizedmd.RelPermalink }} 1x,
                {{ $resizedlg.RelPermalink }} 2x,
                {{ $resizedxl.RelPermalink }} 3x">
        <!-- Support Mobile -->
        <source media="(min-width: 640px)" srcset="{{ $resizedsm.RelPermalink }} 1x,
                {{ $resizedmd.RelPermalink }} 2x,
                {{ $resizedlg.RelPermalink }} 3x">
        <img alt='book-cover' class="h-full w-full" style="object-fit:cover" src='{{ $resizedmd.RelPermalink }}'>
        {{ end }}
        {{ else}}
        <img alt='book-cover' class="h-full w-full" style="object-fit:cover"
          src='https://via.placeholder.com/900x600?text=Book+Cover'>
        {{- end }}
      </picture>
    </div>
  </div>
</section>
<p class='hidden'>from <strong><a
      href="https://pxhere.com/en/photo/1614937?utm_content=clipUser&utm_medium=referral&utm_source=pxhere">PxHere</a></strong>
</p>

<!-- {{ partial "book/header.html" .}} -->
<!-- {{ partial "asides/social-sharing.html" . }} -->
<!-- {{ partial "book/testimonials.html" . }} -->
<!-- {{ partial "book/characters.html" . }} -->
<!-- {{ partial "book/excerpt.html" . }} -->
<!-- {{ partial "related-posts.html" . }} -->

{{ partial "components/biography.html" . }}
<hr class='w-1/4 mx-auto'>
{{ partial "citation.html" . }}

{{ end }}